autopep8>=2.3.2
build>=1.5.0
coverage>=7.13.5
cyclonedx-bom>=7.1.0
defusedxml>=0.7.1
keyboard>=0.13.5
lcov-cobertura>=2.1.1
lxml>=6.0.1
ntplib>=0.4.0
Pillow>=11.3.0
psutil>=7.2.2
pycdlib>=1.16.0
Pygments>=2.20.0
pylint>=4.0.5
pyOpenSSL>=25.3.0
PyPDF>=6.10.2
pytest>=8.4.2
PyYAML>=6.0.3
qrcode>=8.2.0
send2trash>=1.8.3
twine>=6.2.0
xmlschema>=4.3.1
